.container {
  max-width: 600px;
  min-width: 340px;
  width: 90%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  box-shadow: 2px 2px 5px #313131;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: #fbfbfb;
}
